NEXT_PUBLIC_APP_NAME="Arc Station"
NEXT_PUBLIC_ARC_TESTNET_RPC_URL="https://rpc.testnet.arc.network"
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL="https://sepolia.base.org"
NEXT_PUBLIC_ETHEREUM_SEPOLIA_RPC_URL="https://ethereum-sepolia-rpc.publicnode.com"
